:root {
  --primary: #1E2E29;
  --secondary: #192521;
  --tertiary: #181A1B;
  
  --font: "Ubuntu Mono", Ubuntu, sans-serif;
  --cursor: url('cursor-blue.png'), default;
  
  --fontPrimary: #6A7672;
  --fontSecondary: #35423D;
  
  --bordercolor: rgb(20, 43, 40);
}

html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  
  cursor: var(--cursor);
  
  /*background: -webkit-linear-gradient(left top, #3F3561, #28597D);*/
  background: -webkit-linear-gradient(left top, #1B3D29, #133337, #1B3D29);
  background: -o-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
  background: -moz-linear-gradient(bottom right, #1B3D29, #133337, #1B3D29);
  background: linear-gradient(to bottom right, #1B3D29, #133337, #1B3D29);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

#module {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  width: 50%;
  
  position: relative;
  top: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#toolbar {
  margin: 0;
  padding: 5px 0 5px 0;
  width: 100%;
  
  overflow: hidden;
  
  background: var(--bordercolor);
  border: 10px solid var(--bordercolor);
  border-bottom: none;
  border-top: none;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#toolbar span {
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}
#toolbar span * {
  margin: 0;
  padding: 0;
  
  font-family: var(--font);
  font-size: 1.3rem;
  
  background-color: none;
  color: var(--fontPrimary);
  
  cursor: pointer;
  
  transition: 1s;
}
#toolbar span *:hover {
  color: #BBB;
  transition: 1s;
}
#toolbar #left * { padding-right: 6px; }
#toolbar #center * { padding-left: 3px; padding-right: 3px; cursor: var(--cursor); color: var(--fontPrimary); }
#toolbar #right * { padding-left: 6px; }
#toolbar #time { cursor: var(--cursor); color: var(--fontPrimary); }

#search-area {
  width: 100%;
  /*margin-top: 15%;*/
  min-height: 3rem;
  height: 3rem;
  background: rgb(15, 20, 17);
  
  border: 10px solid var(--bordercolor);
  border-top: none;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#search-input {
  width: 100%;
  
  overflow: hidden;
  
  background: transparent;
  border: none;
  outline: none;
  
  font-family: var(--font);
  line-height: auto;
  font-size: 2rem;
  color: white;
  padding-left: 10px;
  padding-right: 20px;
}

#search-prefix {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  
  font-family: var(--font);
  line-height: 100px;
  font-size: 42px;
  color: teal;
  
  padding: 15px 20px 15px 20px;
}

#box-area {
  width: 100%;
  min-height: 0px;
  height: auto;
  
  background-color: rgb(30, 40, 32);
  border: 10px solid rgb(20, 43, 40);
  border-top: none;
  
  overflow: auto;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

ol.list-area {
  margin: 0.5rem;
  flex: 1 0 15rem;
  width: 15rem;
  padding: 0;
  
  /*margin: 6px 3px 6px 3px;*/
  
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  list-style-type: none;
}

div.list-header-placeholder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  
  padding: 3px;
  padding-left: 5px;
  margin: 0;
  
  background-color: var(--tertiary);
}

a.list-header {
  display: inline;
  
  text-decoration: none;
  
  
  cursor: pointer;
  color: var(--fontPrimary);
  
  font-family: var(--font);
  font-size: 1rem;
}

.list-item {
  padding: 0;
  padding-right: 5rem;
  padding-left: 3px;
  margin: 3px;
  margin-left: 10px;
  
  background-color: none;
  
  font-family: var(--font);
  font-size: 1rem;
  
  text-decoration: none;
  
  transition: .2s;
}
.list-item:hover {
  background-color: var(--tertiary);
}
.list-item:hover:not(.wrap-collapsible)::before {
  content: '█';
  font-size: 0.9rem;
  /*margin-left: -0.46rem;*/
  margin-left: -0.61rem;
  margin-right: 0.15rem;
  /*margin-left: -0.92rem; for space after prefix*/
  color: var(--fontSecondary);
}
.list-item * {
  /* a:link, li.list-item a:visited, li.list-item a:hover, li.list-item a:active */
  text-decoration: none;
  color: var(--fontPrimary);
}

ol#list-settings {
  padding: 0;
  margin: 6px;
  
  width: 100%;
  
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  list-style-type: none;
  
  display: none;
}
ol#list-settings input[type=text] {}
a.add-link {
  display: none;
}

ol#mailbox {
  padding: 0;
  margin: 0;
  
  width: 100%;
  
  background-color: var(--secondary);
  border: 1px solid var(--tertiary);
  list-style-type: none;
  
  display: none;
  flex-direction: column;
  
  visibility: hidden;
}

#mailbox input#mail-subject {
  border: none;
  border-bottom: 1px solid var(--tertiary);
  
  padding: 5px;
  
  font-family: var(--font);
  font-size: 1.1rem;
  
  background-color: transparent;
  color: #FFF;
}

#mailbox textarea#mail-body {
  resize: none;
  border: none;
  
  padding: 5px;
  
  font-family: var(--font);
  font-size: 1rem;
  
  background-color: transparent;
  color: #FFF;
}



.wrap-collapsible li a {
  padding-left: 0.6em;
}

.wrap-collapsible {
  padding: 0;
  padding-right: 5rem;
  padding-left: 3px;
  margin: 3px;
  margin-left: 10px;
  
  background-color: none;
  
  font-family: var(--font);
  font-size: 1rem;
  
  text-decoration: none;
  
  transition: .2s;
}
input[type='checkbox'].toggle {
  display: none;
}
.lbl-toggle {
  cursor: pointer;
}
.lbl-toggle:hover {
  background-color: var(--tertiary);
}
.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  transform: translateY(-1px);
  margin-right: .3rem;
  margin-left: -0.5rem;
  
  transition: transform .3s ease-out; /* arrow rotation */
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-1px);
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .2s ease-in-out; /* content */
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: none;
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.title:empty {
  display: none;
  visibility: hidden;
}

.title[title]::before {
  content: attr(title);
}
